* {
    margin: 0;
    padding: 0;
}

section {
    min-height: 500px;
}

.navbar {

}

.container-header > ul{
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
}

.container-header > ul > li {
    margin: 0 10px;
    color: white;
}


.container-header > ul > li >a{
    text-decoration: none;
    color: white;
    border-radius: 5px  ;
}

.btn-login {
    display: flex;
    align-items: center;
    align-content: center;
}

.user {
    display: flex;
    margin-top: 15px;
}

.btn {
    margin-top: 10px;
}

.auth {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 1000px;
}

.form-floating {
    width: 650px;
}

.logo{
    margin-left: 30px;
}

.container-btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 800px;
    margin: 0 auto;
}

.buy-tickets {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 20px auto;

}

.buy-tickets > a {
    margin: 2px;
}


.buy-tickets > a > button, .buy-tickets > button{
    width: 150px;
}


.container-form {
    margin-top: 40px;
}

.container-form > form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-top: 100px;
}

.container-form > form > .container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 400px;
    
}

.container-form > form > .container-promo {
    display: flex;
    align-items: center;
    align-content: start;
    margin: 10px 0;
}

.svg {
    fill: white;
}

.nav-prad {
    border-bottom: 1px solid gray;
} 

.nav-item-prad{
    padding: 20px 0;
    
}   

.nav-item-prad:hover{
    background-color: rgb(213, 213, 218);
}

.nav-item-prad:hover a {
    color: black;

}